{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>شماره سریال</th>
            <th>نام کاربر</th>
            <th>تاریخ آخرین آپدیت</th>
            <th>تاریخ ایجاد گزارش</th>
            <th>عملیات</th>
        </tr>
        {% for device in devices %}
            <tr>
                <td>{{ device.serial }}</td>
                <td>{{ device.user.username }}</td>
                <td>{{ device.updated_at }}</td>
                <td>{{ device.created_at }}</td>
                <td><a href="{% url 'device-reports' device.id %}">نمایش گزارش‌ها</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}